.App {
    max-width: 1440px;
    height: 1023px;
    margin: 0 auto;
    border: 1px solid grey;
    background: grey;

    display: grid;
    grid-template-columns: .32fr .68fr;
    
}


.today-container{
    background-color: #1E213A;
}

.btn-container{
    margin: 3rem 3rem;
}

.btn{
    border: none;
    cursor: pointer;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 1.6rem;
}

.btn-search{
    color: #E7E7EB;
    padding: 1rem 1.5rem;
    background: #6E707A;
}

/* Today Images */
.img-container{
    width: 46rem;
    height: 38rem;
    background-image: linear-gradient(rgba(30, 33, 58, 0.95) 100%, rgba(30, 33, 58, 0.95) 100%), 
        url("../Assets/images/background/Cloud-background.png");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: 150%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.today-img{
    width: 20rem;
    height: 23rem;
}

/* toda data */
.today-data{
    display: grid;
    grid-template-rows: 30rem 12rem 5rem 5rem;
    align-items: center;
    justify-items: center;
    
}

.temp-display{
    font-size: 14.4rem;
    font-weight: 500;
    color: #e7e7eb;
}

.temp-display span {
    font-size: 6rem;
    color: #a09fb1;
}

.today-weather{
    font-weight: 600;
    font-size: 3.6rem;
    color: #A09FB1;
}

.date {
    display: flex;
    gap: 1.3rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #88869D;
}

.location {
    display: flex;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #88869D;
}


/* ------------- Board ------------- */
.board{
    background-color: #100E1D;
}

.board-container{
    width: 68.4rem;
    margin: 3rem auto;
    border: 1px solid white;
}

.units-container{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: .5rem;
}

.btn-unit{
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    background: none;
    color: #E7E7EB;
    background-color: #585676;
    border-radius: 50%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weekly-report{
    display: flex;
    gap: 2.5rem;
    margin: 6rem 0 7rem 0;
}

.week-card{
    width: 12rem;
    height: 17.7rem;
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: #E7E7EB;

}

.week-text{
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.week-img{
    width: 5.6rem;
    height: 6rem;
}


.week-temp{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 16px;
}

.min {
    color: #A09FB1;
}


/* Hightlights */
#hightlights-title{
    font-size: 2.4rem;
    font-weight: 700;
    color: #E7E7EB;
    margin-bottom: 2.5rem;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4.5rem;
}

.today-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E213A;
    color: #E7E7EB;
    gap: 2.5rem;
}

.details-title{
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 2.5rem;
}

.details-content{
    font-weight: 700;
    font-size: 6.4rem;
}

.details-content span {
    font-size: 4rem;
    font-weight: 400;
}

.details-extra {
    margin-bottom: 2.5rem;
}